/**/
body {
    padding: 0;
    margin: 0;
    background-color: rgb(40, 40, 40);
    color: white;
}
/**/
header {
	background: linear-gradient(-45deg, yellow, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	padding-top: 5vh;
    padding-bottom: 6vh;
}

/**/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/**/
.header {
    background-color: #296247;
    height: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: auto;
    color: white;
    min-width: auto;
    padding: 0;
}

/**/
h1 {
    margin-left: 5vw;
}

/**/
.text {
    margin-left: 5vw;
    margin-bottom: 1vh;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    float: left;
}

/*voor de images*/
.images {
    float: right;
    width: 25vw;
    height: auto;
    margin-right: 5vw;
}


/* begin navigatiebar*/
.nav {
  z-index: 1;
  position: sticky;
  width: auto;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
    width: 1vw;
    height: auto;
    z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0.75vw 1.75vw;
    letter-spacing: 0.05vw;
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    font-size: 1.4vw;
    transition: 0.5s;
    z-index: 1;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: black;
    color: yellow;
    transition: 0.5s;
    padding-left: 1.8vw;
    padding-right: 1.8vw;
    z-index: 1;
}

/* Add a color to the active/current link */
.topnav a.active {
	background: linear-gradient(-45deg, yellow, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    color: white;
    padding: 0.75vw 1.75vw;
    z-index: 1;
}

/*de breete van de navbar*/
.topnav {
    width: 100%;
    z-index: 1;
}


.navbar {
  overflow: hidden;
  background-color: #333; 
  padding-bottom: 0;
  z-index: 1;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 1;
}

.subnav {
  float: left;
  overflow: hidden;
  z-index: 1;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  z-index: 1;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(16, 16, 16);
  z-index: 1;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgb(0, 0, 0);
  width: 100%;
  z-index: 90;
  margin-top: 3.2em;
  border-bottom-color: white;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
  z-index: 1;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
  z-index: 1;
}

.subnav:hover .subnav-content {
  display: block;
  z-index: 1;
}

/* einde navigatiebar */

/**/
.DropdownImg {
    width: 1.5vw;
    height: 1.5vw;
    padding: 0;
}

.MainBody {
  margin-left: 3em;
  margin-right: 3em;
}

.Background {
  background-color: rgb(40, 40, 40);
}

/*Begin Homepagina*/
.slideshowContainer {
  position: relative;
  overflow: hidden;
  margin: 50px 0 50px;
  height: 80vh;
  margin-left: 5em;
  margin-right: 5em;
  z-index: 2;
}

.SlideshowBG {
  background-color: rgb(56, 56, 56);
  z-index: -2;
  padding: 0.5em;
}

.imageSlides {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: 50vw;
  height: 50vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}

/* add 'visible' class via Javascript */
.visible {
  opacity: 1;
}

.slideshowArrow {
  font-size: 7em;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.slideshowArrow:hover {
  opacity: 0.75;
}

#leftArrow {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#rightArrow {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translate(50%, -50%);
}

.slideshowCircles {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: 1s ease-in-out;
}

.dot {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 2px rgba(255, 255, 255, 0.5);
}

footer {
  background-color: rgb(22, 22, 22);
padding: 1;
}
/*Eind Homepagina*/
