body {
    padding: 0;
    margin: 0;
    background-color: rgb(40, 40, 40);
    color: white;
}
header {
	background: linear-gradient(-45deg, yellow, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	padding-top: 5vh;
    padding-bottom: 6vh;
}

/**/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.header {
    background-color: #296247;
    height: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: auto;
    color: white;
    min-width: auto;
    padding: 0;
}

h1 {
    margin-left: 5vw;
}

.text {
    margin-left: 5vw;
    margin-bottom: 1vh;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    float: left;
}

/*voor de images*/
.images {
    float: right;
    width: 25vw;
    height: auto;
    margin-right: 5vw;
}


/* begin navigatiebar*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
    width: 1vw;
    height: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0.75vw 1.75vw;
    letter-spacing: 0.05vw;
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    font-size: 1.4vw;
    transition: 0.5s;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: black;
    color: yellow;
    transition: 0.5s;
    padding-left: 3%;
    padding-right: 3%;
}

/* Add a color to the active/current link */
.topnav a.active {
	background: linear-gradient(-45deg, yellow, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    color: white;
    padding: 0.75vw 1.75vw;
}

/*de breete van de navbar*/
.topnav {
    width: 100%;
}

/*voor de buttons in de navbar*/
.subnav {
    float: left;
    text-align: center;
    padding: 0;
    height: 3, 4vw;
    width: auto;
    z-index: 2;
}

/* Subnav button */
.subnav .subnavbtn {
    font-size: 1.4vw;
    border: none;
    outline: none;
    color: white;
    padding: 0.75vw 1.75vw;
    background-color: black;
    font-family: inherit;
    letter-spacing: 0.05vw;
    position: relative;
    display: inline-block;
    z-index: 2;
}

/*navbar buttons*/
.subnavbtn {
    display: flex;
    align-self: top;
    margin: 0;
    z-index: 2;
}

/**/
.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: black;
    padding-left: 2vw;
    padding-right: 2vw;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: black;
    z-index: 20;
    text-align: center;
    height: 13vw;
    width: 10vw;
    margin-left: 18.8vw;
    margin-right: 85vw;
    margin-top: 3.3vw;
}

/* Style the subnav links */
.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
    color: yellow;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
}
/* einde navigatiebar */

/**/
.DropdownImg {
    width: 1.5vw;
    height: 1.5vw;
    padding: 0;
}


/*Begin Homepagina*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*Eind Homepagina*/