@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

main {
    font-family: "Montserrat", sans-serif;
  }


.TextColorgradientButton {
    color: white;
    background:none;
    border-width: 0.5vw;
    padding-top: 3vh;
    padding-left: 3vw;
    padding-bottom: 3vh;
    padding-right: 3vw;
}

.TextColorgradientButton:hover {
    color: linear-gradient(-45deg, #71c1fe, #3aac71, #23a6d5, #23d5ab);
    cursor: pointer;
    background:none;
    animation: BackgroundFill 1s ease;
}

.TextColorgradient {
    color: white;
}

.MainText {
    padding: 1vw;
    margin-top: 2vh;
    margin-left: 4vw;
    margin-top: 2vh;
    margin-right: 4vw;
    border-style: solid;
    border-radius: 1vh;
    border-width: 0.3vw;
    border-color: rgba(255,255,255,0.1);
}


.BGGradient {
  background: linear-gradient(to right, #3aac71, #23a6d5, #23d5ab);
  padding: 0 40px;
}

.TextGradient {
  background: linear-gradient(to right, #3aac71, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: ColorMove 4s ease infinite;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -30px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .waviy span {
    font-family: "Montserrat", sans-serif;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1.3s infinite;
    animation-delay: calc(.1s * var(--i));    
  }

  .Capital {
    font-size: 80px;
  }


/*Keyframes*/
@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }

@keyframes GradientMove {
	0% {
        background: linear-gradient(to right, #3aac71, #23a6d5, #23d5ab)
	}
	50% {
        background: linear-gradient(to right, #23a6d5, #23d5ab, #3aac71)
	}
    100% {
        background: linear-gradient(to right, #23d5ab, #3aac71, #23a6d5)
	}
}

@keyframes ColorMove {
	0% {
        background: #23d5ab;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
	}
	25% {
        background: #3aac71;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
	}
    50% {
        background: #23a6d5;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
	}
    75% {
        background: #23d5ba;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
	}
    100% {
        background: #23d5ab;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
	}
}

@keyframes BackgroundFill {
	0% {
        color: white;
        border-color: black;
	}
	100% {
        color: linear-gradient(-45deg, #71c1fe, #3aac71, #23a6d5, #23d5ab);
        border-color: linear-gradient(-45deg, #71c1fe, #3aac71, #23a6d5, #23d5ab);
	}
}