.TextColorgradient {
    color: white;
    transition: 0.4s;
}

.TextColorgradient:hover {
    color: linear-gradient(-45deg, #71c1fe, #3aac71, #23a6d5, #23d5ab);
    transition: 0.4s;
}

.MainText {
    border-style: solid;
    border-radius: 1vh;
    border-width: 0.3vw;
    border-color: rgba (255,255,255,0.5);
}