@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

main {
    font-family: "Montserrat", sans-serif;
  }

.TextColorgradient {
    color: white;
}

.MainText {
    padding: 1vw;
    margin-top: 2vh;
    margin-left: 4vw;
    margin-top: 2vh;
    margin-right: 4vw;
    border-style: solid;
    border-bottom-style: none;
    border-top-style: none;
    border-radius: 1vh;
    border-width: 0.3vw;
    border-color: rgba(255,255,255,0.1);
    margin-bottom: 2em;
}

a {
  text-decoration: none;
  list-style: none;
  color: white;
  transition: 0.6s;
}

a:hover {
  text-decoration: none;
  list-style: none;
  color: black;
  transition: 0.3s;
}

.BGGradient {
  background: linear-gradient(to right, #3aac71, #23a6d5, #23d5ab);
  padding: 0 40px;
  animation: GradientMove 1.3s infinite;
}

.TextGradient {
  background: linear-gradient(to right, #3aac71, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: ColorMove 4s ease infinite;
  animation-delay: calc(.1s * var(--i));    
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -37px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .waviy span {
    font-family: "Montserrat", sans-serif;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1.3s infinite;
    animation-delay: calc(.1s * var(--i));    
  }

  .Capital {
    font-size: 80px;
  }

  .PortfolieSection {
    background-color: rgb(51, 51, 51);
    padding-top: 1em; 
    padding-bottom: 2em;
  }

  .TextColorgradientButton {
    color: white;
    border-width: 0.3vw;
    padding-top: 3vh;
    padding-left: 3vw;
    padding-bottom: 3vh;
    padding-right: 3vw;
    border-radius: 1em;
}

.TextColorgradientButton:hover {
    color: linear-gradient(-45deg, #71c1fe, #3aac71, #23a6d5, #23d5ab);
    cursor: pointer;
}

.ContactFormName {
  min-width: 24.85em;
  max-width: 25.1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: none;
  border-width: 0.3em;
  animation: GradientMoveReverse 1.3s infinite;
  border-radius: 1em;
  color: white;
  text-align: center;
}

.ContactFormEmail {
  min-width: 50.99em;
  max-width: 51em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  background: none;
  border-width: 0.3em;
  animation: GradientMoveReverse 1.3s infinite;
  text-align: center;
  border-radius: 1em;
  color: white;
}

.ContactFormText {
  min-width: 50.99em;
  max-width: 51em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  min-height: 20em;
  margin-top: 1em;
  background: none;
  border-width: 0.3em;
  animation: GradientMoveReverse 1.3s infinite;
  text-align: center;
  border-radius: 1em;
  color: white;
}

.ContactFormSubmit {
  background-color: rgb(40, 40, 40);
  font-size: 2em;
  font-weight: bold;
  border-color: transparent;
}

.FavorietGamesBorder {
  border: black solid 0.3em;
  border-radius: 1em;
  padding: 1em;
  background-color: white;
  min-height: 15vw;
  float: right;
}

.PortfolioBubble {
  border-color: #0ff;
  border-style: solid;
  border-width: 2em;
  border-radius: 50%;
  text-align: center;
  margin-top: 2em;
  margin-left: 17em;
  margin-right: 17em;
  padding-top: 7em;
  padding-bottom: 7em;
  box-shadow: 0px 0px 40px 30px #0ff;
}

.PortfolioBubble span {
  font-size: 50px;
}

/*Keyframes*/
@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }

@keyframes GradientMove {
	0% {
        background: linear-gradient(to right, #3aac71, #23a6d5, #23d5ab)
	}
	50% {
        background: linear-gradient(to right, #23a6d5, #23d5ab, #3aac71)
	}
    100% {
        background: linear-gradient(to right, #23d5ab, #3aac71, #23a6d5)
	}
}

@keyframes GradientMoveReverse {
	0% {
        border-color: linear-gradient(to left, #3aac71, #23a6d5, #23d5ab)
	}
	50% {
        border-color: linear-gradient(to left, #23a6d5, #23d5ab, #3aac71)
	}
    100% {
        border-color: linear-gradient(to left, #23d5ab, #3aac71, #23a6d5)
	}
}

@keyframes ColorMove {
	0% {
        background: #23d5ab;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
	}
	25% {
        background: #3aac71;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
	}
    50% {
        background: #23a6d5;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
	}
    75% {
        background: #23d5ba;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
	}
    100% {
        background: #23d5ab;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
	}
}

@keyframes BackgroundFill {
	0% {
        color: white;
        border-color: black;
	}
	100% {
        color: linear-gradient(-45deg, #71c1fe, #3aac71, #23a6d5, #23d5ab);
        border-color: linear-gradient(-45deg, #71c1fe, #3aac71, #23a6d5, #23d5ab);
	}
}

/*Game Css*/
canvas {
  color: white;
}

#grid {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  min-height: 600px;
}

.block {
  border: 1px solid black;
  position: absolute;
  margin: 1px;
  width: 25px;
  height: 25px;
  font-size: 8px;
  display: block;
  background: #666;
  color: white;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.content, .modal {
  top:0;
  left:0;
  height:98vh;
  width: 98vw;
  text-align: center;
}

.content {
  background-color: orange;
  z-index:100;
}

.modal {
  z-index: 101;
  background-color: #000;
  visibility: hidden;
  opacity: 0;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.modal.activemodal {
  	opacity: 1;
  	visibility: visible;
}

#LoadingText {
  overflow: hidden;
}

@keyframes CanvasZoom {
  0% {
    width: 98vw;
    height: 99vh;
  }
  100% {
    width: 980vw;
    height: 9880vh;
  }
}